.swiper {
  width: 750rpx;
  swiper {
    height: 380rpx
  }
  image {
    width: 750rpx;
    height: 888rpx;
  }
}
.board {
  margin-top: 40rpx;
  font-size: 25rpx;
  background-color: #f6f6f6;
  .board-item {
    margin: 40rpx 0;
    .title {
      height: 40rpx;
      font-size: 35rpx;
      padding-left: 10rpx;
      display: flex;
      text {
        flex: 1;
      }
      image {
        height: 30rpx;
        width: 30rpx;
        line-height: 25rpx;
      }
    }
    .board-scroll {
      height: 260rpx;
      .content {
        display: flex;
        flex-direction: row;
        height: 260rpx;
        width: 750rpx;
        .movie-item {
          display: flex;
          flex-direction: column;
          width: 180rpx;
          // height: 260rpx;
          margin: 10rpx;
          image {
            height: 180rpx;
            width: 150rpx;
            margin-bottom: 10rpx;
          }
          view{
            overflow: hidden;
            text-overflow: ellipsis;
            text {
              text-align: center;              
              white-space: nowrap;
            }
          }          
        }
      }
    }
  }
}

