.header {
	padding: 20rpx;	
	border-bottom:1px solid #000;
  .poster {
    image {
      width: 750rpx;
    }
    .title {
      text-align: center;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      font-weight: 600;
    }
  }
  .detail {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding-left: 20rpx;
    text {
      padding-bottom: 5rpx;
    }
  }
}
.content {
  padding: 20rpx 20rpx;  
  display: flex;
  flex-direction: column;
  .title {
    font-weight: 600;    
  }
  .summary {
    font-size: 16px;    
    text-indent: 2em;
  }
}
